<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="/home/ganesh/dyna/logs/app.log"
                     filePattern="/home/ganesh/dyna/logs/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5KB"/>
            </Policies>
            <DefaultRolloverStrategy max="2"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <!-- Set console appender to INFO and up -->
            <AppenderRef ref="Console" level="INFO"/>
            <!-- Set file appender to ERROR and up -->
            <AppenderRef ref="RollingFile" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>